.App {
    text-align: center;
}

.AppHeader {
    align-items: center;
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.AppScore {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
